<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Location</title>
</head>

<body>
    <h1>Update Location</h1>
    <form action="#" th:action="@{/locations/update/{id}(id=${location.id})}" th:object="${location}" method="post">
        <label for="locationName">Business Name:</label>
        <input type="text" id="locationName" th:field="*{locationName}" /> <br/>

        <label for="locationStreet">Address:</label>
        <input type="text" id="locationStreet" th:field="*{locationStreet}" /> <br/>

        <!--continue for City, State, Zip, typeOfVenue, hours-->

        <label for="uniqueComment">Additional Comments:</label>
        <textarea id="uniqueComment" th:field="*{uniqueComment}"></textarea> <br/>

        <input type="submit" value="Update Location" />
    </form>

</body>

</html>